/*
--- 01 TYPOGRAPHY SYSTEM
  - Font sizes (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Line height:
  Default: 1
  Small: 1.05
  Paragraph: 1.6

--- 07 WHITESPACE
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --light-blue: #3571d5;
  --mid-blue: #1e61d0;
  --dark-blue: #216ce7;

  --light-gray: #868e96;
  --mid-gray: #5e6369;
  --dark-gray: #43474b;

  --white-gray: #f8f9fa;

  --light-font: 400;
  --mid-font: 500;
  --bold-font: 600;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #555;
  font-weight: var(--light-font);
  line-height: 1;
  background-color: var(--light-blue);
  position: relative;
}

.heading-secondary {
  color: var(--dark-gray);
  font-size: 3.6rem;
  font-weight: var(--bold-font);
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  color: var(--light-gray);
  font-size: 1.8rem;
  font-weight: var(--mid-font);
  margin-bottom: 2rem;
}

.btn,
.btn:link,
.btn:visited {
  background-color: var(--dark-blue);
  color: var(--white-gray);
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: var(--bold-font);
  border-radius: 8px;
}

.btn:hover,
.btn:active {
  background-color: var(--mid-blue);
}

.btn-in {
  background-color: #51cf66;
}

.btn-in:hover {
  background-color: #49ba5c;
}

.btn-out {
  background-color: #ff6b6b;
}

.btn-out:hover {
  background-color: #e66060;
}
