:root {
  --light-blue: #3571d5;
  --mid-blue: #2196f3;
  --dark-blue: #0b7dda;

  --light-gray: #868e96;
  --mid-gray: #5e6369;
  --dark-gray: #43474b;

  --white-gray: #f8f9fa;

  --light-font: 400;
  --mid-font: 500;
  --bold-font: 600;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #555;
  font-weight: var(--light-font);
  line-height: 1;
  background: rgb(0, 14, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
}

.heading-secondary {
  color: var(--dark-gray);
  font-size: 4.4rem;
  font-weight: var(--bold-font);
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  color: var(--light-gray);
  font-size: 2rem;
  font-weight: var(--mid-font);
  margin-bottom: 2rem;
}

.user-info {
  font-size: 3rem;
  margin-bottom: 2.8rem;
  display: "";
}

.btn,
.btn:link,
.btn:visited {
  background-color: var(--mid-blue);
  color: var(--white-gray);
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: var(--bold-font);
  border-radius: 8px;
  width: 100%;
  margin-top: 2rem;
}

.btn:hover,
.btn:active {
  background-color: var(--dark-blue);
}

.btn-in {
  background-color: #04aa6d;
}

.btn-in:hover {
  background-color: #46a049;
}

.btn-out {
  background-color: #f44336;
}

.btn-out:hover {
  background-color: #da190b;
}

.btn-clear {
  background-color: var(--white-gray);
  border: 2px solid var(--mid-blue);
  color: var(--dark-gray);
}

.btn-clear:hover {
  background-color: var(--mid-blue);
  color: var(--white-gray);
}
