.main-nav {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  justify-content: end;
}

.nav-icon {
  height: 3.6rem;
  width: 3.6rem;
  color: var(--dark-gray);
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.login-form input {
  border: 2px solid var(--white-gray);
  padding: 0.4rem;
  font-size: 1.6rem;
  border-radius: 8px;
  transition: all 0.3s;
}

.login-form input:hover {
  border: 2px solid var(--light-gray);
}

.card-link:link,
.card-link:visited {
  color: var(--dark-blue);
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1rem;
  margin-bottom: 1.6rem;
}

.card-link:hover,
.card-link:active {
  text-decoration: underline;
}

.account-section {
  background-color: var(--white-gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 2rem;
}

.account-cta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

.user-info {
  font-size: 2.4rem;
  margin-bottom: 2.8rem;
}

.account-user-cta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.account-user-cta input {
  border: 2px solid var(--white-gray);
  padding: 0.4rem;
  font-size: 1.6rem;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.account-user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
